{% extends "layout.html" %}
{% block content %}
<h1>Basket</h1>
	<div class="Item">
		<table class="cart">
			<tr>
				<th></th>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th>Remove</th>
			</tr>
			{% for item in basket %}
			{% if quantities %}
				{% if quantities.get(item.id|string) != None%}
					{% set quantity = quantities.get(item.id|string) %}
					{% set value = quantities.get(item.id|string)|float %}
				{% else %}
					{% set quantity = 1%}
					{% set value = 1%}
				{% endif %}
			{% else %}
				{% set quantity = 1%}
				{% set value = 1%}
			{% endif %}
			<tr>
				<td><img src="/static/img/{{item.image_file}}" alt="Error" style="max-width: 200px;"></td>
				<td>{{item.title}}<br>{{item.content}}</td>
				<td>£<span class="item_price">{{ "%.2f"|format(item.price)}}</span> </td>

				<td>
					<script type="text/javascript">
						var numbers = document.getElementById('box')
					</script>
					<form action="{{url_for('change_quantity')}}" method="POST">
						<input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
						<div class="quantity">
							<input type="number" id="quantity" name="quantity" min="1" step="1" value="{{quantity}}">
						</div>
						<input type="submit" value="Enter">
					</form>
				</td>

				<td>
				£ <span>{{ "%.2f"|format(item.price * value)}}</span>
				</td>
				<td>
					<form action="{{ url_for('pop_item') }}" method="POST">
						<input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
						<input type="submit" value="DELETE" class="remove">
					</form>
				</td>
			</tr>
			{% endfor %}
			<tr style="border-bottom: none;">
				<td>
				{% if basket %}
				<form action="{{ url_for('clear_basket') }}"method="POST">
					<input type="submit" value="Clear Basket" class="clear">
				</form>
				{% else %}
					<input type="submit" value="Clear Basket" class="clear2">
				{% endif %}
				</td>
				<td></td>
				<td></td>
				<td><h1>SUBTOTOAL</h1></td>
				<td>£ <span id="total_price">{{ "%.2f"|format(cost)}}</span></td>
				<td>
				{% if basket %}
				<form action="{{ url_for('checkout') }}"method="GET">
					<input type="submit" value="Checkout" class="checkout" id="checkout">
				</form>
				{% else %}
					<input type="submit" value="Checkout" class="checkout2">
				{% endif %}
				</td>
			</tr>
		</table>
      </div>
<br>
<p>
{% if current_user.is_authenticated %}
<a href="{{url_for('shipping')}}" class="add_to_cart">Update Shipping address</a>
{% else %}
{% endif %}
</p>
{% endblock %}